pom.xml
pom.xml.asc
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.DS_Store          
state              
node_modules       
/build             
docker-compose.yml 
.gradle            
.idea              
config/internal.yml

